@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 1rem auto 0;
  padding: 0 1.5rem;
  font-size: 400;
}

.container {
  max-width: 38rem;
  padding: 1rem;
  margin: 0 auto;
  box-shadow: 0px 3px 5px hsla(208, 11%, 9%, 0.7);
  border-radius: 5px;
}

.heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

input[type="text"] {
  display: block;
  width: 100%;
  outline: none;
}

.task-input {
  font-size: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 7.5rem;
  border-radius: 3rem;
  border: 1px solid #ccc;
  height: 50px;
}

.task-input:focus {
  border: 1px solid #26a69a;
}

.btn {
  cursor: pointer;
  border: none;
  outline: 0;
}

.form {
  position: relative;
}

.btn-add {
  background-color: #26a69a;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.6rem 1rem;
  height: 50px;
  border-radius: 3rem;
  width: 7rem;
  font-size: 1rem;
}

.btn-add:hover {
  background-color: #158a7f;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.search-list {
  font-size: 1.1rem;
  border-radius: none;
  outline: none;
  padding: 0.6rem 1.5rem;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
}

.search-list:focus {
  border-bottom: 1px solid #26a69a;
}

.task-list-item {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  margin: 0.3rem 0;
  border: 1px solid #ccc;
  transition: all 0.3s linear;
}

.task-list-item:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 1.5rem;
}

.task-list-item:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1.5rem;
}

.task-list-item.completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.show-tasks {
  text-align: center;
  margin: 1.5rem 0;
}

.show-tasks button {
  border: none;
  background: none;
  color: #0000ff;
  font-size: 1rem;
}

.show-tasks button:hover {
  color: #0202c9;
}

.delete {
  color: red;
}

.delete:hover {
  color: rgb(127, 3, 3);
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.bottom-buttons button:hover {
  border: 3px solid #26a69a;
}

.bottom-buttons button + button {
  margin-left: 0.6rem;
}

.alert {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.alert.alert-success {
  background-color: #42bfb2;
}

.alert.alert-danger {
  background-color: #fc9b8d;
}
